@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Montserrat&display=swap');

* {
    box-sizing: border-box;
}

h1, h2, h3 {
    font-weight: 200;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.rem;
}

html{
    scroll-behavior: smooth;
}


body{
    font-family: 'Fira Code', monospace;
    background-color: rgb(30,30,30);
    color: #ffffff;
}

header {
    position: fixed;
    overflow: hidden;
    right: 0;
    top: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    background-color: rgb(30,30,30)
}


.topnav {
    overflow: hidden;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    color: #2c7cd6;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

.nav-logo {
    padding: 20px;
    color: #2c7cd6 ;
}

.navbar-list {
    float: left;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}

.navbar-list-item {
    margin: 5px;
}

.navbar-list-item a {
    color: #ffffff;
    text-decoration: none;
}

.navbar-list-item a:hover {
    color: #2c7cd6;
    text-decoration: none;
}
main .home{
    padding: 70px;
    width: 100%;
    text-align: center;
}

.main {
    text-align: center;
    height: 100vh;
}

.link-style {
    color: #2c7cd6 ;
    font-weight: 100;
}

.home {
    margin: 20px;
}
.home-icons {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    cursor: pointer;
    margin-top: 40px;
}
.home-icon {
    margin: 5px;

}

.home-icon a{
    color: #ffffff;

}

.home-icon a:hover {
    color: #2c7cd6;
}

.content {
    padding: 40px;
    width: 80%;
    margin: auto;
    border: 1px solid #666666;
    border-radius: 2.5%;
    border-right: 10px solid #666666;
}

.open-tag, .close-tag {
    color: #2c7cd6;
    font-size: 1.75rem;
}

div .open-tag {
    padding-top: 60px ;
}

.open-tag.small {
    font-size: 1rem;
    margin-left: 20px;
    padding: 0;
}

.class-like {
    color: rgb(124, 220, 240);
}

.string-like {
    color: rgb(206, 145, 120);
}

.content-p {
    margin-left: 20px;
}

.css-like-title {
    color: rgb(215, 186, 125);
    margin-left: 40px;
}

.css-like-title > span {
    color: white;
    margin: 0;
}

.css-like-param {
    margin-left: 60px;
    color: rgb(124, 220, 240);
}
.css-like-body{
    margin-left: 20px;
    margin-bottom: 20px;
}
.css-end{
    margin-left: 40px;
}
.css-like-coment{
    color: rgb(106,153,85);
    margin: 20px;
}

.css-like-coment-line{
    margin-left: 20px;
}

.css-coma {
    color: white;

}

.footer{
    margin-top: 20px;
    text-align: center;
}
.javascript-like {
    margin-left: 20px;
}
.javascript-function{
    color: #2c7cd6;
}
.javascript-function-name{
    color: rgb(220, 220, 170);
}

.javascript-function-param {
    color: rgb(53,166,240);
}

.section-skills{
    overflow-wrap: break-word;
    text-overflow: clip;
}

